@charset "UTF-8";
.clearfix:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both; }

button, input[type="button"] {
  -webkit-appearance: none;
  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
  -moz-appearance: none;
  /* FireFox */
  appearance: none; }

.swal-content {
  display: inline-block;
  vertical-align: middle;
  margin: 0; }
  .swal-content__a {
    color: #FF5000;
    text-decoration: none; }

.swal-text {
  vertical-align: middle; }

.swal-modal {
  border-radius: 10px;
  border: 20px solid #FCF2CA; }

.swal-footer {
  text-align: center; }

.swal-button {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  color: #76391B;
  background-color: #FCE444;
  box-shadow: 0px 4px 0px #76391B;
  border-radius: 100px;
  transition: .2s;
  cursor: pointer;
  margin: auto;
  font-size: 20px;
  max-width: 150px;
  transition: .2s;
  line-height: 25px; }
  .swal-button:hover {
    opacity: .7;
    transition: .2s; }
  .swal-button:active {
    top: 2px; }

.swal-button-container {
  margin: auto; }

.swal-button:not([disabled]):hover {
  background-color: #FCE444; }

.swal-button:active {
  background-color: #FCE444;
  top: 2px;
  box-shadow: 0px 2px 0px #76391B; }

.swal-button:focus {
  outline: none;
  box-shadow: 0px 4px 0px #76391B; }

* {
  font-size: 16px;
  font-family: 微軟正黑體, arial, "sans serif";
  text-align: center; }

.out {
  height: 93vh;
  margin: 30px 50px; }
  .out a {
    text-decoration: none;
    color: #76391B; }
  .out .back-nav .back-logo {
    padding-top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: none;
    border-radius: 10px 10px 0 0; }
  .out .back-nav .back-signout {
    padding: 50px 0;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: none;
    border-radius: 0 0 10px 10px;
    font-size: 24px;
    font-weight: bold; }
    .out .back-nav .back-signout a {
      padding: 20px; }
  .out .back-nav .back-change-btn {
    border-radius: 10px; }
    .out .back-nav .back-change-btn:hover {
      background-color: #FCF2CA; }
  .out .back-text {
    height: 93vh;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px; }
    .out .back-text .banner {
      width: 100%;
      height: 34vh;
      padding-top: 20px;
      background-image: url("../images/客服G8稜-01.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      font-size: 30px;
      position: relative; }
    .out .back-text .mainBTN {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      font-weight: 600;
      color: #76391B;
      background-color: #FCE444;
      box-shadow: 0px 4px 0px #76391B;
      border-radius: 100px;
      transition: .2s;
      cursor: pointer;
      margin: auto;
      font-size: 20px;
      max-width: 80px;
      transition: .2s; }
      .out .back-text .mainBTN:hover {
        opacity: .7;
        transition: .2s; }
      .out .back-text .mainBTN:active {
        top: 2px; }
    .out .back-text .mainBTN {
      margin: 0 20px 20px 93%;
      border: 1px solid rgba(0, 0, 0, 0.125);
      position: absolute;
      right: 0;
      bottom: 0; }
      .out .back-text .mainBTN:active {
        top: auto; }
    .out .back-text img {
      width: 80px; }
    .out .back-text tr th, .out .back-text tr td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      vertical-align: middle; }
    .out .back-text .back-page li {
      padding: 10px; }
