/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%;
  height: 100vh;
  background-color: #c4e6ef;
  overflow: hidden; }

.cloud {
  width: 130px;
  height: 0;
  animation: cloudTranslate 25S linear 0s infinite;
  opacity: 0.8;
  position: relative;
  top: 20%;
  left: 0%;
  filter: drop-shadow(0px 0px 5px #3335) blur(1px); }

.cloud1 {
  top: 15vh;
  animation-duration: 47s;
  animation-delay: -5s;
  transform: rotate(-30deg) scale(0.7); }

.cloud2 {
  top: 9vh;
  animation-duration: 44s;
  animation-delay: -10s;
  transform: rotate(-30deg) scale(0.4); }

.cloud3 {
  top: 9vh;
  animation-duration: 41s;
  animation-delay: -15s;
  transform: rotate(-30deg) scale(0.5); }

.cloud4 {
  top: 17vh;
  animation-duration: 38s;
  animation-delay: -20s;
  transform: rotate(-30deg) scale(0.4); }

.cloud5 {
  top: 18vh;
  animation-duration: 35s;
  animation-delay: -25s;
  transform: rotate(-30deg) scale(0.3); }

.ball {
  width: 20px;
  height: 20px;
  transform: rotate(0);
  position: absolute;
  top: 50%;
  left: 0%; }

.ball1 {
  animation: ballTranslate 10S linear 0s infinite;
  animation-delay: -1s; }
  .ball1:after {
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 40%;
    background-color: #fff;
    display: inline-block;
    transform: translate(0, 50px) rotate(0deg) translate(0, -50px) scale(1);
    animation: ballRotate 10S linear 0s infinite;
    animation-delay: -1s; }

.ball2 {
  animation: ballTranslate 10S linear 0s infinite;
  animation-delay: -2s; }
  .ball2:after {
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 40%;
    background-color: #fff;
    display: inline-block;
    transform: translate(0, 50px) rotate(0deg) translate(0, -50px) scale(1);
    animation: ballRotate 10S linear 0s infinite;
    animation-delay: -2s; }

.ball3 {
  animation: ballTranslate 10S linear 0s infinite;
  animation-delay: -3s; }
  .ball3:after {
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 40%;
    background-color: #fff;
    display: inline-block;
    transform: translate(0, 50px) rotate(0deg) translate(0, -50px) scale(1);
    animation: ballRotate 10S linear 0s infinite;
    animation-delay: -3s; }

.ball4 {
  animation: ballTranslate 10S linear 0s infinite;
  animation-delay: -4s; }
  .ball4:after {
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 40%;
    background-color: #fff;
    display: inline-block;
    transform: translate(0, 50px) rotate(0deg) translate(0, -50px) scale(1);
    animation: ballRotate 10S linear 0s infinite;
    animation-delay: -4s; }

.ball5 {
  animation: ballTranslate 10S linear 0s infinite;
  animation-delay: -5s; }
  .ball5:after {
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 40%;
    background-color: #fff;
    display: inline-block;
    transform: translate(0, 50px) rotate(0deg) translate(0, -50px) scale(1);
    animation: ballRotate 10S linear 0s infinite;
    animation-delay: -5s; }

.ball6 {
  animation: ballTranslate 10S linear 0s infinite;
  animation-delay: -6s; }
  .ball6:after {
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 40%;
    background-color: #fff;
    display: inline-block;
    transform: translate(0, 50px) rotate(0deg) translate(0, -50px) scale(1);
    animation: ballRotate 10S linear 0s infinite;
    animation-delay: -6s; }

.ball7 {
  animation: ballTranslate 10S linear 0s infinite;
  animation-delay: -7s; }
  .ball7:after {
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 40%;
    background-color: #fff;
    display: inline-block;
    transform: translate(0, 50px) rotate(0deg) translate(0, -50px) scale(1);
    animation: ballRotate 10S linear 0s infinite;
    animation-delay: -7s; }

.ball8 {
  animation: ballTranslate 10S linear 0s infinite;
  animation-delay: -8s; }
  .ball8:after {
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 40%;
    background-color: #fff;
    display: inline-block;
    transform: translate(0, 50px) rotate(0deg) translate(0, -50px) scale(1);
    animation: ballRotate 10S linear 0s infinite;
    animation-delay: -8s; }

.ball9 {
  animation: ballTranslate 10S linear 0s infinite;
  animation-delay: -9s; }
  .ball9:after {
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 40%;
    background-color: #fff;
    display: inline-block;
    transform: translate(0, 50px) rotate(0deg) translate(0, -50px) scale(1);
    animation: ballRotate 10S linear 0s infinite;
    animation-delay: -9s; }

.ball10 {
  animation: ballTranslate 10S linear 0s infinite;
  animation-delay: -10s; }
  .ball10:after {
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 40%;
    background-color: #fff;
    display: inline-block;
    transform: translate(0, 50px) rotate(0deg) translate(0, -50px) scale(1);
    animation: ballRotate 10S linear 0s infinite;
    animation-delay: -10s; }

@keyframes cloudTranslate {
  0% {
    left: -20%; }
  100% {
    left: 105%; } }

@keyframes ballTranslate {
  50% {
    left: 100%; }
  100% {
    left: 0%; } }

@keyframes ballRotate {
  50% {
    transform: translate(0, 50px) rotate(0.5turn) translate(0, -50px) scale(0.8); }
  100% {
    transform: translate(0, 50px) rotate(1turn) translate(0, -50px) scale(1); } }

svg {
  display: block;
  margin: 0 auto;
  fill: none;
  stroke: #222;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  transform: translate(0 -50%);
  position: relative;
  top: 50vh; }

.wall {
  fill: #EDE4C6; }

.windows .window-red {
  stroke: #E40B12; }

.floor line {
  stroke: #E40B12; }

.floor rect {
  fill: #E40B12; }

.columns rect {
  fill: #E40B12;
  width: 10px; }

.roof {
  fill: #736357; }

.lamp.lamp-yellow {
  fill: #FBC926; }

.lamp.lamp-red {
  fill: #E40B12; }

/* ANIMATIONS */
@keyframes animation-scale-X-5-10 {
  from {
    transform: scaleX(1); }
  0.1%, 5% {
    transform: scaleX(0); }
  to, 15% {
    transform: scaleX(1); } }

.base {
  animation: animation-scale-X-5-10 10s alternate both;
  transform-origin: 50% 0; }

@keyframes animation-slide-up-8-50 {
  from {
    transform: translateY(0); }
  0.1%, 8% {
    transform: translateY(105%); }
  to, 58% {
    transform: translateY(0); } }

.windows {
  animation: animation-slide-up-8-50 10s ease-in alternate both; }

@keyframes animation-slide-up-10-15 {
  from {
    transform: translateY(0); }
  0.1%, 10% {
    transform: translateY(105%); }
  to, 25% {
    transform: translateY(0); } }

.columns {
  animation: animation-slide-up-10-15 10s ease-in alternate both; }

@keyframes animation-slide-up-20-20 {
  from {
    transform: translateY(0); }
  0.1%, 20% {
    transform: translateY(105%); }
  to, 40% {
    transform: translateY(0); } }

.wall {
  animation: animation-slide-up-20-20 10s ease-in alternate both; }

@keyframes animation-fall-down-18-20 {
  from {
    transform: translateY(0); }
  0.1%, 18% {
    transform: translateY(-1000%); }
  38% {
    transform: translateY(0); }
  35% {
    transform: translateY(-2px); }
  36% {
    transform: translateY(0); }
  37% {
    transform: translateY(-1px); }
  38%, to {
    transform: translateY(0); } }

.floor {
  animation: animation-fall-down-18-20 10s ease-in alternate; }

@keyframes animation-fall-down-24-18 {
  from {
    transform: translateY(0); }
  0.1%, 24% {
    transform: translateY(-1000%); }
  42% {
    transform: translateY(0); }
  39% {
    transform: translateY(-2px); }
  40% {
    transform: translateY(0); }
  41% {
    transform: translateY(-1px); }
  42%, to {
    transform: translateY(0); } }

.roof {
  animation: animation-fall-down-24-18 10s ease-in alternate; }

@keyframes animation-fall-down-24-22 {
  from {
    transform: translateY(0); }
  0.1%, 24% {
    transform: translateY(-1000%); }
  46% {
    transform: translateY(0); }
  43% {
    transform: translateY(-2px); }
  44% {
    transform: translateY(0); }
  45% {
    transform: translateY(-1px); }
  46%, to {
    transform: translateY(0); } }

.wall.wall-top {
  animation: animation-fall-down-24-22 10s ease-in alternate; }

@keyframes animation-fall-down-34-18 {
  from {
    transform: translateY(0); }
  0.1%, 34% {
    transform: translateY(-1000%); }
  52% {
    transform: translateY(0); }
  49% {
    transform: translateY(-2px); }
  50% {
    transform: translateY(0); }
  51% {
    transform: translateY(-1px); }
  52%, to {
    transform: translateY(0); } }

.balcony {
  animation: animation-fall-down-34-18 10s ease-in alternate; }

@keyframes animation-fall-down-37-23 {
  from {
    transform: translateY(0); }
  0.1%, 37% {
    transform: translateY(-1000%); }
  60% {
    transform: translateY(0); }
  57% {
    transform: translateY(-2px); }
  58% {
    transform: translateY(0); }
  59% {
    transform: translateY(-1px); }
  60%, to {
    transform: translateY(0); } }

.floor.floor-top {
  animation: animation-fall-down-37-23 10s ease-in alternate; }

@keyframes animation-fall-down-34-30 {
  from {
    transform: translateY(0); }
  0.1%, 34% {
    transform: translateY(-1000%); }
  64% {
    transform: translateY(0); }
  61% {
    transform: translateY(-2px); }
  62% {
    transform: translateY(0); }
  63% {
    transform: translateY(-1px); }
  64%, to {
    transform: translateY(0); } }

.roof.roof-top {
  animation: animation-fall-down-34-30 10s ease-in alternate; }

@keyframes animation-grow-down-60-5 {
  from {
    transform: scaleY(1) translateY(0); }
  0.1%, 60% {
    transform: scaleY(0) translateY(-100%); }
  65%, to {
    transform: scaleY(1) translateY(0); } }

.lamp {
  animation: animation-grow-down-60-5 10s ease alternate both;
  transform-origin: 50% top; }

/* Pendulum */
@keyframes pendulum {
  0% {
    transform: rotate(2deg); }
  100% {
    transform: rotate(-2deg); } }

.animation-pendulum {
  animation: pendulum 1s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transform-origin: 50% top; }

.animation-delayed-1 {
  animation-delay: .2s; }

.animation-delayed-2 {
  animation-delay: .5s; }
