@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input[type="button"] {
  -webkit-appearance: none;
  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
  -moz-appearance: none;
  /* FireFox */
  appearance: none; }

.swal-content {
  display: inline-block;
  vertical-align: middle;
  margin: 0; }
  .swal-content__a {
    color: #FF5000;
    text-decoration: none; }

.swal-text {
  vertical-align: middle; }

.swal-modal {
  border-radius: 10px;
  border: 20px solid #FCF2CA; }

.swal-footer {
  text-align: center; }

.swal-button {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  color: #76391B;
  background-color: #FCE444;
  box-shadow: 0px 4px 0px #76391B;
  border-radius: 100px;
  transition: .2s;
  cursor: pointer;
  margin: auto;
  font-size: 20px;
  max-width: 150px;
  transition: .2s;
  line-height: 25px; }
  .swal-button:hover {
    opacity: .7;
    transition: .2s; }
  .swal-button:active {
    top: 2px; }

.swal-button-container {
  margin: auto; }

.swal-button:not([disabled]):hover {
  background-color: #FCE444; }

.swal-button:active {
  background-color: #FCE444;
  top: 2px;
  box-shadow: 0px 2px 0px #76391B; }

.swal-button:focus {
  outline: none;
  box-shadow: 0px 4px 0px #76391B; }

header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 2; }
  header * {
    font-size: 0;
    font-family: sans-serif, "微軟正黑體", "Microsoft JhengHei"; }
  header a {
    font-size: 24px;
    color: #fff;
    text-decoration: none; }
  header #navctrl {
    display: none; }
    header #navctrl:checked ~ .phone-nav .hb .line {
      transform: rotate(360deg);
      opacity: 0;
      transition: 0.3s; }
    header #navctrl:checked ~ .phone-nav .hb:before {
      transform: translateY(13.5px) rotate(225deg);
      transition: 0.3s; }
    header #navctrl:checked ~ .phone-nav .hb:after {
      transform: translateY(-13px) rotate(-225deg);
      transition: 0.3s; }
    header #navctrl:checked ~ nav {
      transform: translate(-350px, 1000px) rotate(0deg);
      top: -1000px;
      left: 350px;
      transition: transform 1s; }
  header .phone-nav {
    padding: 0 40px 0 10px;
    height: 75px;
    background: url(../images/nav_background_768.png) repeat-x;
    position: relative; }
    header .phone-nav:after {
      content: '';
      width: 0;
      height: 120%;
      display: inline-block;
      vertical-align: middle; }
    header .phone-nav div {
      width: 33.33333333%;
      text-align: center;
      vertical-align: middle;
      display: inline-block; }
      header .phone-nav div.nav-left {
        text-align: left; }
      header .phone-nav div.nav-right {
        text-align: right; }
    header .phone-nav .hb {
      margin: auto;
      width: 70px;
      height: 50px;
      cursor: pointer;
      opacity: .8;
      transition: .5s;
      position: absolute;
      top: 28%;
      z-index: 1001; }
      header .phone-nav .hb .line, header .phone-nav .hb:before, header .phone-nav .hb:after {
        content: '';
        margin: auto;
        width: 60%;
        height: 3px;
        background-color: #fff;
        display: block;
        position: absolute;
        top: 20%;
        right: 0;
        bottom: 21%;
        left: 0;
        transition: 0.3s; }
      header .phone-nav .hb:before {
        bottom: auto; }
      header .phone-nav .hb:after {
        top: auto; }
    header .phone-nav .logo img {
      height: 90px; }
    header .phone-nav .seach-button {
      padding: 23px 9px 18px;
      color: #76391b;
      border-radius: 50%;
      background-color: #fcf2ca;
      box-shadow: 1px 3px 1px #ad6631;
      cursor: pointer; }
      header .phone-nav .seach-button img {
        margin-top: -6px;
        vertical-align: middle; }
  header nav {
    transition: 1s;
    position: absolute;
    transform: translate(0, 0) rotate(-90deg);
    top: -1000px;
    left: 350px;
    transition: transform 1s; }
    header nav:before {
      content: '';
      width: 1100px;
      height: 1100px;
      border-radius: 50%;
      background-color: #425075;
      transform-origin: left top;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 0;
      left: 0; }
    header nav ul {
      position: relative;
      left: 50%; }
      header nav ul li {
        margin-bottom: 20px; }
      header nav ul .logo {
        margin-bottom: 30px; }
        header nav ul .logo img {
          margin-top: -15px;
          height: 140px; }
      header nav ul .index-member {
        margin-bottom: 35px; }
        header nav ul .index-member .before-login {
          display: none; }
          header nav ul .index-member .before-login a {
            margin-right: 20px; }
        header nav ul .index-member .after-login {
          display: inline-block; }
          header nav ul .index-member .after-login div {
            display: inline-block;
            vertical-align: middle; }
            header nav ul .index-member .after-login div .member-Pic {
              width: 35px;
              height: 35px;
              border-radius: 50%;
              background-color: #d4eefb;
              object-fit: cover; }
            header nav ul .index-member .after-login div img {
              cursor: pointer; }
            header nav ul .index-member .after-login div span {
              padding: 5px 10px;
              font-size: 12px;
              color: #fff;
              display: inline-block; }
              header nav ul .index-member .after-login div span .achievement-Pic {
                margin: -5px 8px 0 2px;
                vertical-align: middle; }
  header .white-Point {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #425075;
    position: fixed;
    z-index: 101; }
    header .white-Point ul {
      text-align: center; }
      header .white-Point ul .phone-hidden {
        display: none; }
      header .white-Point ul li {
        margin: 0 auto;
        width: 50%;
        height: 23.33333333vmin;
        display: none; }
        header .white-Point ul li:after {
          content: '';
          width: 0;
          height: 100%;
          vertical-align: middle;
          display: inline-block; }
        header .white-Point ul li a {
          font-size: 16px;
          vertical-align: middle;
          display: inline-block; }
          header .white-Point ul li a img {
            margin-bottom: 5px;
            width: 30%; }
        header .white-Point ul li:nth-of-type(1) {
          width: 100%; }
        header .white-Point ul li:nth-of-type(4), header .white-Point ul li:nth-of-type(5) {
          max-width: 120px; }
  header #view1 {
    display: none; }

.nav_height {
  height: 75px; }

@media screen and (min-width: 1024px) {
  header {
    background-image: url(../images/nav_background.png);
    font-size: 0;
    text-align: center; }
    header #navctrl:checked ~ nav {
      transform: translate(0, 0) rotate(0deg);
      top: 0px;
      left: 0px;
      transition: 0s; }
    header .phone-nav {
      padding: 0;
      width: 14.28571428%;
      height: 100px;
      background: none;
      display: inline-block;
      vertical-align: top;
      position: relative; }
      header .phone-nav div.nav-right {
        width: 100%;
        text-align: center; }
        header .phone-nav div.nav-right .seach-button {
          padding: 10px 40px 10px 10px;
          border-radius: 20px;
          font-size: 16px; }
      header .phone-nav .nav-left, header .phone-nav .logo {
        font-size: 0;
        margin: 0;
        padding: 0;
        display: none; }
        header .phone-nav .nav-left img, header .phone-nav .logo img {
          height: 120px; }
    header nav {
      width: 71.42857142%;
      position: relative;
      display: inline-block;
      transform: translate(0, 0) rotate(0deg);
      transition: 0s;
      top: 0px;
      left: 0px;
      vertical-align: top; }
      header nav:before {
        display: none; }
      header nav ul {
        width: 100%;
        height: 100px;
        display: inline-block;
        position: static; }
        header nav ul li {
          width: 20%;
          height: 100px;
          display: inline-block;
          vertical-align: top; }
          header nav ul li:after {
            content: '';
            width: 0;
            height: 120%;
            display: inline-block;
            vertical-align: middle; }
          header nav ul li.table-hidden {
            display: none; }
          header nav ul li.logo {
            transform: translateX(200%); }
          header nav ul li.index-member {
            transform: translateX(300%); }
          header nav ul li.meals {
            transform: translateX(100%); }
          header nav ul li.initiate {
            transform: translateX(-300%); }
          header nav ul li.participate {
            transform: translateX(-300%); }
    header .white-Point {
      margin: auto;
      width: 14.28571428%;
      height: 100px;
      border-radius: 0;
      background: none;
      vertical-align: top;
      display: inline-block;
      transform: translate(0, 0);
      transition: 0s;
      position: static; }
      header .white-Point:checked ~ .white-Point {
        width: 50px;
        height: 50px;
        transform: translate(0, 0);
        position: static; }
      header .white-Point ul {
        height: 100%; }
        header .white-Point ul:after {
          content: '';
          width: 0;
          height: 120%;
          display: inline-block;
          vertical-align: middle; }
        header .white-Point ul .phone-hidden {
          display: inline-block; }
        header .white-Point ul .table-hidden {
          display: none; }
        header .white-Point ul li {
          width: auto;
          height: auto;
          display: inline-block; }
          header .white-Point ul li:nth-of-type(1) {
            width: auto; }
          header .white-Point ul li a {
            margin: 0 8px;
            width: 40px;
            height: 40px;
            font-size: 0;
            color: #76391b;
            border-radius: 20px;
            background-color: #fcf2ca;
            box-shadow: 1px 3px 1px #ad6631;
            display: inline-block;
            position: relative; }
            header .white-Point ul li a img {
              margin: 7.5px;
              width: 25px; }
            header .white-Point ul li a span {
              padding: 3px 7px 5px;
              font-size: 8px;
              color: #fff;
              background-color: #AD6631;
              border-radius: 50%;
              position: absolute;
              top: -8px;
              right: -4px; }
    header #view1, header #view2, header #view3, header #view4, header #view5, header #view6, header #view7 {
      width: 100%;
      height: 100px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
      header #view1 .slice, header #view2 .slice, header #view3 .slice, header #view4 .slice, header #view5 .slice, header #view6 .slice, header #view7 .slice {
        width: 100%;
        height: 10px;
        transform-style: preserve-3d;
        transform-origin: center top;
        transition: 150ms ease-in-out;
        background-image: url(../images/nav_background.png);
        perspective: 1000px;
        position: relative;
        top: 100%; }
      header #view1 .s1, header #view2 .s1, header #view3 .s1, header #view4 .s1, header #view5 .s1, header #view6 .s1, header #view7 .s1 {
        height: 80px;
        background: none;
        top: 0; }
    header li:not(.logo):not(.index-member):hover .s2 {
      border: 2px solid #2d3e51;
      border-bottom: none;
      border-radius: 5px 5px 5px 5px;
      transition-delay: 150ms;
      transform: translate3d(-4px, 0, 0) rotate3d(1, 0, 0, -180deg);
      background-color: #425075; }
    header li:not(.logo):not(.index-member):hover .s3 {
      border: 2px solid #2d3e51;
      border-bottom: none;
      border-radius: 5px 5px 5px 5px;
      transition-delay: 100ms;
      transform: translate3d(-6px, 0, 0) rotate3d(1, 0, 0, -180deg);
      background-color: #425075; }
    header #view1 .s1 {
      background-position: 0% 0; }
    header #view1 .s2 {
      background-position: 0% -80px; }
    header #view1 .s3 {
      background-position: 0% -90px; }
    header #view2 .s1 {
      background-position: -100% 0; }
    header #view2 .s2 {
      background-position: -100% -80px; }
    header #view2 .s3 {
      background-position: -100% -90px; }
    header #view3 .s1 {
      background-position: -200% 0; }
    header #view3 .s2 {
      background-position: -200% -80px; }
    header #view3 .s3 {
      background-position: -200% -90px; }
    header #view4 .s1 {
      background-position: -300% 0; }
    header #view4 .s2 {
      background-position: -300% -80px; }
    header #view4 .s3 {
      background-position: -300% -90px; }
    header #view5 .s1 {
      background-position: -400% 0; }
    header #view5 .s2 {
      background-position: -400% -80px; }
    header #view5 .s3 {
      background-position: -400% -90px; }
    header #view6 .s1 {
      background-position: -500% 0; }
    header #view6 .s2 {
      background-position: -500% -80px; }
    header #view6 .s3 {
      background-position: -500% -90px; }
    header #view7 .s1 {
      background-position: -600% 0; }
    header #view7 .s2 {
      background-position: -600% -80px; }
    header #view7 .s3 {
      background-position: -600% -90px; }
  .nav_height {
    height: 100px; } }

.shopping_step {
  margin: 0 auto;
  padding-top: 100px;
  text-align: center; }
  .shopping_step * {
    font-size: 0;
    font-family: sans-serif, "微軟正黑體", "Microsoft JhengHei"; }
  .shopping_step .step_list {
    width: 100%;
    max-width: 1000px;
    display: inline-block; }
    .shopping_step .step_list .step_box {
      margin: 0 5%;
      width: 70px;
      max-width: 150px;
      display: inline-block; }
      .shopping_step .step_list .step_box div {
        margin-bottom: 20px;
        padding: 25px 0;
        border-radius: 50%;
        border: 1px solid #000;
        background-color: #fcf2ca;
        box-shadow: 1px 3px 1px #ad6631; }
        .shopping_step .step_list .step_box div span {
          color: #76391b;
          font-weight: 1000; }
      .shopping_step .step_list .step_box span {
        font-size: 16px;
        color: #000;
        font-weight: 1000; }
  .shopping_step .step_contain {
    margin: 0 auto;
    padding: 70px 0;
    width: 100%;
    max-width: 1500px;
    overflow-x: hidden; }
    .shopping_step .step_contain .step_contain_mask {
      width: 300%;
      transition: 1s; }
      .shopping_step .step_contain .step_contain_mask > div {
        width: 33.33333333%;
        display: inline-block; }
        .shopping_step .step_contain .step_contain_mask > div > div {
          margin: 0 auto;
          padding-top: 25px;
          width: 90%;
          max-width: 1200px;
          text-align: center; }
      .shopping_step .step_contain .step_contain_mask .shopping_details, .shopping_step .step_contain .step_contain_mask .confirm_order {
        vertical-align: top; }
        .shopping_step .step_contain .step_contain_mask .shopping_details table, .shopping_step .step_contain .step_contain_mask .confirm_order table {
          margin: 0 auto;
          padding-top: 100px;
          width: 90%;
          max-width: 1200px;
          text-align: center; }
          .shopping_step .step_contain .step_contain_mask .shopping_details table tr, .shopping_step .step_contain .step_contain_mask .confirm_order table tr {
            border-bottom: 3px solid #76391B; }
            .shopping_step .step_contain .step_contain_mask .shopping_details table tr th, .shopping_step .step_contain .step_contain_mask .shopping_details table tr td, .shopping_step .step_contain .step_contain_mask .confirm_order table tr th, .shopping_step .step_contain .step_contain_mask .confirm_order table tr td {
              padding: 25px 0;
              width: 25%;
              font-size: 16px;
              vertical-align: middle; }
              .shopping_step .step_contain .step_contain_mask .shopping_details table tr th p, .shopping_step .step_contain .step_contain_mask .shopping_details table tr td p, .shopping_step .step_contain .step_contain_mask .confirm_order table tr th p, .shopping_step .step_contain .step_contain_mask .confirm_order table tr td p {
                margin: 20px 0; }
                .shopping_step .step_contain .step_contain_mask .shopping_details table tr th p span, .shopping_step .step_contain .step_contain_mask .shopping_details table tr td p span, .shopping_step .step_contain .step_contain_mask .confirm_order table tr th p span, .shopping_step .step_contain .step_contain_mask .confirm_order table tr td p span {
                  font-size: 16px;
                  vertical-align: middle; }
                .shopping_step .step_contain .step_contain_mask .shopping_details table tr th p svg, .shopping_step .step_contain .step_contain_mask .shopping_details table tr td p svg, .shopping_step .step_contain .step_contain_mask .confirm_order table tr th p svg, .shopping_step .step_contain .step_contain_mask .confirm_order table tr td p svg {
                  margin-right: 8px;
                  width: 20px;
                  vertical-align: middle;
                  transition-timing-function: cubic-bezier(0.1, 2, 1, 0.1); }
                  .shopping_step .step_contain .step_contain_mask .shopping_details table tr th p svg path, .shopping_step .step_contain .step_contain_mask .shopping_details table tr td p svg path, .shopping_step .step_contain .step_contain_mask .confirm_order table tr th p svg path, .shopping_step .step_contain .step_contain_mask .confirm_order table tr td p svg path {
                    fill: #bbb; }
            .shopping_step .step_contain .step_contain_mask .shopping_details table tr th, .shopping_step .step_contain .step_contain_mask .confirm_order table tr th {
              padding: 15px 0;
              color: #fff;
              font-weight: 1000;
              background-color: #76391B;
              border-bottom: 1px solid #000; }
            .shopping_step .step_contain .step_contain_mask .shopping_details table tr .product_img, .shopping_step .step_contain .step_contain_mask .confirm_order table tr .product_img {
              width: 80%;
              max-width: 100px;
              vertical-align: middle; }
            .shopping_step .step_contain .step_contain_mask .shopping_details table tr .number_box, .shopping_step .step_contain .step_contain_mask .confirm_order table tr .number_box {
              margin: 0 auto;
              width: 100%;
              max-width: 110px; }
              .shopping_step .step_contain .step_contain_mask .shopping_details table tr .number_box .number_value, .shopping_step .step_contain .step_contain_mask .confirm_order table tr .number_box .number_value {
                line-height: 1.6; }
              .shopping_step .step_contain .step_contain_mask .shopping_details table tr .number_box .plusAndMinus, .shopping_step .step_contain .step_contain_mask .confirm_order table tr .number_box .plusAndMinus {
                position: relative;
                width: 40px;
                height: 40px;
                line-height: 35px;
                text-align: center;
                border-radius: 50%;
                background-color: #BB7232;
                box-shadow: 0px 4px 0px #76391B;
                cursor: pointer;
                font-size: 40px;
                font-weight: 900;
                color: #FCF2CA; }
                .shopping_step .step_contain .step_contain_mask .shopping_details table tr .number_box .plusAndMinus:hover, .shopping_step .step_contain .step_contain_mask .confirm_order table tr .number_box .plusAndMinus:hover {
                  opacity: .6;
                  transition: .3s; }
                .shopping_step .step_contain .step_contain_mask .shopping_details table tr .number_box .plusAndMinus:active, .shopping_step .step_contain .step_contain_mask .confirm_order table tr .number_box .plusAndMinus:active {
                  top: 2px;
                  box-shadow: 0px 2px 0px #76391B; }
              .shopping_step .step_contain .step_contain_mask .shopping_details table tr .number_box .number_add, .shopping_step .step_contain .step_contain_mask .shopping_details table tr .number_box .number_cut, .shopping_step .step_contain .step_contain_mask .confirm_order table tr .number_box .number_add, .shopping_step .step_contain .step_contain_mask .confirm_order table tr .number_box .number_cut {
                width: 25px;
                height: 25px;
                font-size: 20px;
                line-height: 23px; }
              .shopping_step .step_contain .step_contain_mask .shopping_details table tr .number_box .number_cut, .shopping_step .step_contain .step_contain_mask .confirm_order table tr .number_box .number_cut {
                float: left; }
              .shopping_step .step_contain .step_contain_mask .shopping_details table tr .number_box .number_add, .shopping_step .step_contain .step_contain_mask .confirm_order table tr .number_box .number_add {
                float: right; }
              .shopping_step .step_contain .step_contain_mask .shopping_details table tr .number_box .number_value, .shopping_step .step_contain .step_contain_mask .confirm_order table tr .number_box .number_value {
                font-size: 16px; }
        .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_message, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_message {
          position: relative; }
          .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_message span, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_message span {
            font-size: 16px;
            color: #76391B;
            font-weight: 1000; }
            .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_message span strong, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_message span strong {
              font-size: 16px;
              color: #ff5000; }
          .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_message .taketime, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_message .taketime {
            margin: 0 0 40px 5%;
            float: left; }
          .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_message .shopping_message_box, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_message .shopping_message_box {
            width: 70%;
            max-width: 300px;
            border-bottom: 3px solid #76391B;
            display: inline-block;
            float: right; }
            .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_message .shopping_message_box span, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_message .shopping_message_box span {
              padding-bottom: 30px;
              width: 50%;
              max-width: 200px;
              text-align: left;
              display: inline-block;
              float: left; }
              .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_message .shopping_message_box span.shopping_sum, .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_message .shopping_message_box span.groupon_bonus, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_message .shopping_message_box span.shopping_sum, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_message .shopping_message_box span.groupon_bonus {
                text-align: right; }
          .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_message .memOrder_amount, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_message .memOrder_amount {
            clear: both;
            padding-top: 25px;
            width: 100%;
            display: inline-block;
            text-align: right; }
        .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_choose, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_choose {
          padding: 50px 10px 0;
          max-width: 500px;
          text-align: right; }
          .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_choose .mainBTN, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_choose .mainBTN {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            font-weight: 600;
            color: #76391B;
            background-color: #FCE444;
            box-shadow: 0px 4px 0px #76391B;
            border-radius: 100px;
            transition: .2s;
            cursor: pointer;
            margin: auto;
            font-size: 20px;
            max-width: auto;
            transition: .2s; }
            .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_choose .mainBTN:hover, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_choose .mainBTN:hover {
              opacity: .7;
              transition: .2s; }
            .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_choose .mainBTN:active, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_choose .mainBTN:active {
              top: 2px; }
          .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_choose .subBTN, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_choose .subBTN {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            color: #fff;
            background-color: #76391B;
            box-shadow: 0px 4px 0px #FED44F;
            border-radius: 100px;
            transition: .2s;
            cursor: pointer;
            margin: auto;
            font-size: 20px;
            max-width: auto;
            transition: .2s; }
            .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_choose .subBTN:hover, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_choose .subBTN:hover {
              opacity: .7;
              transition: .2s; }
            .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_choose .subBTN:active, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_choose .subBTN:active {
              top: 2px; }
          .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_choose .mainBTN, .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_choose .subBTN, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_choose .mainBTN, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_choose .subBTN {
            width: auto;
            padding: 0px 25px;
            font-size: 16px; }
            .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_choose .mainBTN:first-child, .shopping_step .step_contain .step_contain_mask .shopping_details .shopping_choose .subBTN:first-child, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_choose .mainBTN:first-child, .shopping_step .step_contain .step_contain_mask .confirm_order .shopping_choose .subBTN:first-child {
              float: left; }
      .shopping_step .step_contain .step_contain_mask .shopping_details table tr {
        transition: 1s; }
        .shopping_step .step_contain .step_contain_mask .shopping_details table tr th:nth-child(2) {
          width: 100%;
          display: none; }
        .shopping_step .step_contain .step_contain_mask .shopping_details table tr td:nth-child(1) {
          padding-bottom: 0;
          width: 100%;
          display: block; }
        .shopping_step .step_contain .step_contain_mask .shopping_details table tr td:nth-child(2) {
          width: 100%;
          font-weight: normal;
          display: block;
          font-weight: 1000; }
      .shopping_step .step_contain .step_contain_mask .confirm_order table tr td:nth-child(2) {
        font-weight: 1000; }
    .shopping_step .step_contain .shopping_completed {
      vertical-align: top; }
      .shopping_step .step_contain .shopping_completed > div {
        border: 3px solid #76391B;
        box-shadow: 0px 0px 10px #aaa; }
        .shopping_step .step_contain .shopping_completed > div p {
          margin: 20px 0;
          font-size: 16px;
          line-height: 1.6; }
          .shopping_step .step_contain .shopping_completed > div p.p1 {
            font-size: 24px;
            font-weight: 500;
            color: #76391B;
            font-weight: 1000; }
          .shopping_step .step_contain .shopping_completed > div p.p2 {
            margin: 0 auto;
            max-width: 168px;
            text-align: left; }
          .shopping_step .step_contain .shopping_completed > div p span {
            font-size: 16px;
            font-weight: 1000;
            line-height: 1.6; }
        .shopping_step .step_contain .shopping_completed > div .take_meal_way {
          padding: 50px 0;
          position: relative; }
          .shopping_step .step_contain .shopping_completed > div .take_meal_way div {
            margin: 0 auto;
            width: 50%;
            max-width: 330px;
            display: block;
            vertical-align: top; }
            .shopping_step .step_contain .shopping_completed > div .take_meal_way div.take_meal_qr {
              margin: 0 auto;
              padding: 0 0 50px 0;
              border-bottom: 3px solid #76391B; }
              .shopping_step .step_contain .shopping_completed > div .take_meal_way div.take_meal_qr p {
                color: #76391B;
                font-weight: 600; }
              .shopping_step .step_contain .shopping_completed > div .take_meal_way div.take_meal_qr #take_meal_qr {
                margin: 10px 0;
                width: 150px;
                height: 150px; }
            .shopping_step .step_contain .shopping_completed > div .take_meal_way div.take_meal_code p:first-child {
              color: #76391B;
              font-weight: 600; }
            .shopping_step .step_contain .shopping_completed > div .take_meal_way div.take_meal_code #take_meal_code {
              margin: 85px auto 0;
              padding-bottom: 10px;
              max-width: 200px;
              color: #f50000;
              border-bottom: 3px solid #76391B; }
          .shopping_step .step_contain .shopping_completed > div .take_meal_way > p {
            padding: 0 5px;
            background-color: #fff;
            transform: translate(0%, -135%);
            display: inline-block; }
        .shopping_step .step_contain .shopping_completed > div .subBTN {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          cursor: pointer;
          color: #fff;
          background-color: #76391B;
          box-shadow: 0px 4px 0px #FED44F;
          border-radius: 100px;
          transition: .2s;
          cursor: pointer;
          margin: auto;
          font-size: 20px;
          max-width: auto;
          transition: .2s; }
          .shopping_step .step_contain .shopping_completed > div .subBTN:hover {
            opacity: .7;
            transition: .2s; }
          .shopping_step .step_contain .shopping_completed > div .subBTN:active {
            top: 2px; }
        .shopping_step .step_contain .shopping_completed > div .mainBTN, .shopping_step .step_contain .shopping_completed > div .subBTN {
          margin-bottom: 30px;
          padding: 0px 25px 2px;
          width: auto;
          font-size: 16px; }

@media screen and (min-width: 768px) {
  .shopping_step .step_list .step_box {
    width: 110px; }
    .shopping_step .step_list .step_box div {
      padding: 42px 0; }
      .shopping_step .step_list .step_box div span {
        font-size: 20px; }
  .shopping_step .step_contain .step_contain_mask .shopping_details table tr th {
    width: 20%; }
    .shopping_step .step_contain .step_contain_mask .shopping_details table tr th:nth-child(2) {
      width: 20%;
      display: table-cell; }
  .shopping_step .step_contain .step_contain_mask .shopping_details table tr td:nth-child(1) {
    padding: 25px 0;
    width: 20%;
    display: table-cell; }
  .shopping_step .step_contain .step_contain_mask .shopping_details table tr td:nth-child(2) {
    width: 20%;
    display: table-cell; }
  .shopping_step .step_contain .step_contain_mask .shopping_completed > div .take_meal_way div {
    display: inline-block; }
    .shopping_step .step_contain .step_contain_mask .shopping_completed > div .take_meal_way div.take_meal_qr {
      margin: 0 auto;
      padding: 0;
      border-right: 3px solid #76391B;
      border-bottom: none; }
  .shopping_step .step_contain .step_contain_mask .shopping_completed > div .take_meal_way > p {
    padding: 5px 0;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%; }
  .shopping_step .table_hide {
    display: none; } }
