@import "reset";
@import "daycookVar";
@import "general_mixins";
@import "nav";

*{
    // outline: 1px solid red;
}

.image-cutting-contain{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    p{
        font-size: 0;
    }

    button{
        padding: 0 2%;
        width: 50%;
        height: 50px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        background-color: transparent;
        text-align: right;
        position: absolute;
        right: 0;
        bottom: 15px;
    
        &#image-cutting-cancel{
            right: auto;
            left: 0;
            text-align: left;
        }
    }

    .container{
        width: 100%;
        height: 100vh;
        position: absolute;
    }

    .cropper-view-box{
        border-radius: 50%;
    }

    .cropper-modal{
        background-color: #fff;
    }
}

.member{
    margin: 70px auto;
    width: 98%;
    max-width: 1200px;
    // border-radius: 10px;
    // background-color: $color_main3;	
    font-size: 0;
    
    *{
        font-size: 0;
        font-family: sans-serif, "微軟正黑體", "Microsoft JhengHei" ;
        // outline: 1px solid red;
    }

    @include sub-BTN(auto);

    button.subBTN{
        margin-top: 20px;
        padding: 5px 15px;
        width: auto;
        border: none;
        border-radius: 20px;
        font-size: 16px;
        line-height: 1;
        cursor: pointer;
    }
    
    button{
        margin-top: 40px;
        // padding: 23px 9px 18px;
        padding: 5px 15px;
        width: auto;
        border: none;
        border-radius: 20px;
        font-size: 16px;
        color: #76391b;
        background-color: #fcf2ca;
        box-shadow: 1px 2px 1px #ad6631;
        line-height: 1;
        cursor: pointer;
    }

    &-list{
        margin-top: 20px;
        padding-bottom: 25px;
        width: 100%;
        border: 3px solid $color_main2;
        border-radius: 10px;
        background-color: $color_main3;
        box-sizing: border-box;
        text-align: center;
        position: relative;
 
        &-item{
            margin: 0 auto;
            padding: 35px 0 30px 0;
            width: 60%;
            max-width: 250px;
            border-bottom: 3px solid $color_main2;

            .member-Pic-box{
                cursor: pointer;
                display: block;
                position: relative;
                
                #upFile{
                    display: none;
                }

                .member-Pic{
                    width: 150px;
                    height: 150px;
                    background-color: #d4eefb;
                    object-fit: cover;
                    // border: 10px solid #000;
                    border-radius: 50%;	
                    cursor: pointer;
                }

                .member-camera{
                    width: 35px;
                    height: 35px;
                    // border: 1px solid $color_main2;
                    border-radius: 50%;
                    background-color: #d4eefb;
                    // background-color: $color_main1;
                    cursor: pointer;
                    display: inline-block;
                    position: absolute;
                    top: 74%;
                    left: 64%;

                    &:after{
                        content: '';
                        margin: 4px 0 0 1.5px;
                        width: 70%;
                        height: 70%;
                        background-image: url(../images/icon/photo_black.svg);
                        background-size: cover;
                        display: inline-block;
                    }
                }
            }

            &-contain{
                padding-top: 30px;
                text-align: left;
            
                span{
                    padding-top: 15px; 
                    font-size: 16px;
                    line-height: 1;
                    display: block;

                    .mem-icon{
                        width: 20px;
                        height: 20px;
                    }
                }
 
                img{
                    margin: -5px 10px 0;
                    vertical-align: middle;
                }                
            }
        }
     
        .member-panel{
            width: 100%;
            background-color: #fcf2ca;
            position: fixed;
            bottom: 0;
            z-index: 1;
            
            label{
                width: 25%;
                padding: 15px 0;
                color: $color_main2;
                font-size: 16px;
                // border: 1px solid $color_main2;
                font-weight: 1000;
                border-radius: 10px;
                display: inline-block;
                cursor: pointer;
    
                a{
                    color: $color_main2;
                    font-size: 16px;
                    text-decoration: none;    
                }
            }
        } 

        .notebook{

        }
    }

    .member-contain{
        margin-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        border: 3px solid $color_main2;
        background-color: #fffd;
        border-radius: 10px;
        box-sizing: border-box;
        vertical-align: top;

        input[type="radio"]{
            display: none;

            + div{
                display: none;
            }

            &:checked + div{
                display: block;
            }
        }

        > div{
            h2{
                padding: 100px 0 30px; 
                font-size: 24px;

                img{
                    height: 48px;
                }
            }
        }

        .member-Information,
        .member-order,
        .member-achievement{
            margin: 0 auto;
            width: 90%;
            max-width: 800px;
        }

        .member-Information{
            max-width: 480px;

            .member-content,
            .change-paw{
                margin: 0 auto;
                width: 80%;
                max-width: 300px;

                tr{
                    margin: 30px 0;
                    width: 100%;
                    display: block;

                    td{
                        margin: 8px 0;
                        max-width: 250px;
                        display: block;
                        position: relative;

                        &:first-child{
                            display: inline-block;
                        }
                    }
                }

                label{
                    font-size: 20px;
                    color: #ff5000;
                    font-weight: 500;
                    vertical-align: middle;
                    display: inline-block;
                }

                input{
                    padding-left: 10px;
                    width: 100%;
                    height: 35px;
                    border: 1px solid #a9a9a9;
                    border-radius: 20px;
                    font-size: 16px;
                    vertical-align: middle;
                    outline: none;

                    &:focus{
                        border-color: #208ee8;
                    }

                    + label{
                        font-size: 16px;
                        color: #bbb;
                        white-space:nowrap;
                        transform: translateY(-52%);
                        transition: 0.3s;
                        position: absolute;
                        top: 50%;
                        left: 5%;
                    }

                    &:focus + label{
                        font-size: 12px;
                        color: #208ee8;
                        // display: none;
                        transform: translate(-100%, -148%);
                        transition: 0.3s;
                        top: 0%;
                        left: 100%;
                    }
                    
                    // &[value=""] + label{
                    //     display: none;
                    // }
                }

                button{
                    margin: 10px 0 15px;
                    transform: translateX(60%);
                    float: right;
                }
            }	
        }

        .member-filter-list{

            li{
                margin: 20px 0;
                font-size: 16px;
                display: inline-block;

                button{
                    margin: 0 20px;
                }
            }
        }

        .member-order{
            .member-order-list{
                margin-top: 50px;
               
                > li{
                    margin: 20px 0% 50px;
                    padding: 2%;
                    width: 96%;
                    border-radius: 10px;
                    border: 1px solid #000;
                    background-color: #fcf2ca;
                    // box-shadow: 3px 3px 1px #ad6631;
                    display: inline-block;
                    vertical-align: top;

                    .ordering-news{
                        margin: -40px 0 10px;
                        padding: 5px 0 0 5px;
                        border: 1px solid #000;
                        border-radius: 10px;
                        background-color: #fff;
                        box-shadow: 2px 2px 1px #ad6631;
                        // background-color: #fce444;

                        p{
                            padding: 7px 0;
                            font-size: 16px;
                            line-height: 1.6;

                            span{
                                font-size: 16px;    
                                display: inline-block;
                            }
                        }
                    }

                    .ordering-contain{
                        width: 100%;
                        overflow: auto;

                        ul{
                            width: 250%;
                            max-width: 750px;   
                        
                            li{
                                margin: 10px 1% 30px;
                                padding: 15px 0;
                                width: 18%;        
                                max-width: 150px;        
                                outline: 1px solid #000;         
                                display: inline-block;

                                img{
                                    margin: 0 5%;
                                    width: 90%;
                                }
                                
                                p{
                                    margin: 0 5%;
                                    padding: 20px 0 0;
                                    width: 90%;
                                    font-size: 16px;
                                    text-align: center
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .member-achievement{
            .member-achievement-list{
                margin-top: 50px;

                li{
                    margin: 10px 2%;
                    padding: 2%;
                    width: 92%;
                    border-radius: 10px;
                    outline: 1px solid #000;
                    display: inline-block;
                
                    .achievement-pic{
                        margin-right: 5%;
                        width: 25vmin;
                        max-width: 100px;
                        height: 25vmin;
                        max-height: 100px;
                        // background-image: url(../images/medal.png);
                        // background-size: 300% 500%;
                        display: inline-block;
                        vertical-align: middle;
                        overflow: hidden;

                        img{
                            width: 100%;
                        }
                    }

                    
                    .achievement-contain{
                        width: 60%;
                        display: inline-block;
                        vertical-align: middle;

                        h3{
                            padding: 5px 0;
                            font-size: 20px;
                        }

                        .meal-count{
                            margin: 5px 0;
                            padding: 5px 0 15px;
                            width: 90%;
                            height: 5px;
                            border: 1px solid #000;
                            border-radius: 15px;  
                            font-size: 16px;
                            background: linear-gradient(90deg, #fcf2ca 60%, #fff 60%); 
                            text-align: center;
                        }
                      
                        .achievement-info{
                            padding: 5px 0;
                            font-size: 16px;
                        }
                        
                        .achievement-bonus{
                            padding: 5px 0;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .table-hide{
        height: 80px;
    }
}

@media screen and (min-width: 768px){

    .image-cutting-contain{
        margin: 15vh 25%;
        width: 50%;
        height: 70vh;
        border: 1px solid #000;
        background: #000;
        border-radius: 10px;
        // display: none;
        // position: fixed;
        // top: 0;
        // left: 0;
        // z-index: 1000;
    
        p{
            width: 100%;
            height: 60px;
            font-size: 24px;
            color: #fff;
            text-align: center;
            background-color: #3e4861;
            line-height: 60px;
            position: absolute;
            top: 0;
        }

        button{
            height: 60px;
            font-size: 28px;
            color: #fff;
            font-weight: 600;
            border: none;
            background: #1d2434;
            text-align: center;
            position: absolute;
            bottom: 0;
            
            &#image-cutting-cancel{            
                text-align: center;
            }
        }
    
        .container{
            width: 100%;
            max-height: 60vh;
            position: absolute;
            top: 60px;
        }
    
        .cropper-view-box{
            border-radius: 50%;
        }
    
        .cropper-modal{
            border-radius: 20px;
            background: #000;
        }
    }

    .member{
        
        &-list{
            width: 30%;
            display: inline-block;
            
            .member-panel{
                margin-left: 0;
                background-color: transparent;
                position: static;
                padding-top: 80px;
                
                label{
                    width: 100%; 
                    font-size: 20px;
                    display: block;

                    a{
                        font-size: 20px;
                    }
                }           
            }

            .notebook{
                width: 70px;
                background: url(../images/notebookS.svg);
                transform: translateX(-34%);
                position: absolute;
                top: 0;
                left: 100%;
                bottom: 0;
            }
        }

        .member-contain{
            margin: 20px 0 0 2%;
            width: 68%;
            display: inline-block;

            .member-Information{
                max-width: 700px;

                .member-content,
                .change-paw{
                    max-width: 450px;

                    tr{
                        padding-bottom: 30px;
        
                        td{
                            margin: 0;
                            width: 70%;
                            display: inline-block;

                            &:first-child{
                                width: 30%;
                            }
                        }
                    }

                    input{
                        &:focus + label{
                            transform: translate(0%, -148%);
                            transition: 0.3s;
                            top: 0%;
                            left: 5%;
                        }
                    }
                }
            }

            .member-order{
                .member-order-list{                
                    > li{
                        .ordering-news{
                            text-align: center;

                            &-box1{
                                width: 30%;
                                max-width: 180px;
                                display: inline-block;
                                vertical-align: top;
                                text-align: left;
                            }
                            
                            &-box2{
                                width: 70%;
                                max-width: 300px;
                                display: inline-block;
                                vertical-align: top;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        
            > div{
                h2{
                    padding: 50px;
 
                }
            }
        }
        
        .table-hide{
            display: none;
        }  
    }
}

@media screen and (min-width: 1200px){
    
    .member{
        .member-contain{
            .member-achievement{
                .member-achievement-list{
                    li{
                        width: 42%;
                    }
                }
            }
        }
    }
}


